
@import '_routes.css';
@import './_navigation.css';
@import './_pages.css';

:root {
	--page-a-color: #ddddff;
	--page-a-color-dark: #aaaadd;

	--page-b-color: #ffdddd;
	--page-b-color-dark: #ddaaaa;

	--page-c-color: #ddffdd;
	--page-c-color-dark: #aaddaa;
}

body {
	font-family: sans-serif;
	margin: 0;
}

.xero-header {
	background-color: #0078c8;
	height: 5px;
}

.demo {
	height: calc(100vh - 5px);
	overflow: hidden;
	width: 100%;
}
